includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 6
    paths:
        - Apermo/Sniffs
    scanDirectories:
        - vendor/squizlabs/php_codesniffer/src
        - vendor/phpcsstandards/phpcsutils/PHPCSUtils
    strictRules:
        allRules: false
        booleansInConditions: true
        disallowedLooseComparison: true
        strictFunctionCalls: true
        disallowedEmpty: true
